workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == 'production' 
      when: always
    - when: never

stages:
  # - deploy-production
  - deploy-production

stage-deploy-staging-local:
  stage: deploy-main
  image: node:18.8.0-alpine
  script:
    - apk add --update openssh
    - chmod 400 $MENTORS_KEY


    # - ssh -i $MENTORS_KEY -o StrictHostKeyChecking=no -p $MENTORS_PORT $MENTORS_HOST "cd /home/ubuntu/www/mentorslearning.com/mentors-front && git checkout main && git pull origin main && npm install && npm run build && pm2 restart mentors-front && exit"
    - ssh -i  $MENTORS_KEY -o StrictHostKeyChecking=no -p $MENTORS_PORT $MENTORS_HOST "~/scripts/study-front.sh"
  only:
    - production

