workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == 'production' 
      when: always

stages:
  - deploy-production

stage-deploy-production:
  stage: deploy-production
  image: node:18.8.0-alpine
  script:
    - apk add --update openssh
    - chmod 400 $MENTORS_KEY
    - ssh -i  $MENTORS_KEY -o StrictHostKeyChecking=no -p $MENTORS_PORT $MENTORS_HOST "~/scripts/study-front.sh"
  only:
    - production

